@page
@model Attempt3.Pages.AdminPageModel
@{
}

<p>Admin Page</p>
<hr />
<p><a class="nav-link text-dark" asp-page="/BrandPage/Index">Manage Brand</a></p>
<p><a class="nav-link text-dark" asp-page="/CategoryPage/Index">Manage Category</a></p>
<p><a class="nav-link text-dark" asp-page="/ClientPage/Index">Manage Client</a></p>
<p><a class="nav-link text-dark" asp-page="/CustomerPage/Index">Manage Customer</a></p>
<p><a class="nav-link text-dark" asp-page="/DiscountPage/Index">Manage ProductSize</a></p>
<p><a class="nav-link text-dark" asp-page="/PBPage/Index">Manage ProductBrand</a></p>
<p><a class="nav-link text-dark" asp-page="/PCPage/Index">Manage ProductCategory</a></p>
<p><a class="nav-link text-dark" asp-page="/PPPage/Index">Manage ProductPurchase</a></p>
<p><a class="nav-link text-dark" asp-page="/PSPage/Index">Manage ProductSize</a></p>
<p><a class="nav-link text-dark" asp-page="/ProductPage/Index">Manage Product</a></p>
<p><a class="nav-link text-dark" asp-page="/PurchasePage/Index">Manage Purchase</a></p>
<p><a class="nav-link text-dark" asp-page="/SelectionPage/Index">Manage Selection</a></p>
<p><a class="nav-link text-dark" asp-page="/SizePage/Index">Manage Size</a></p>
<p><a class="nav-link text-dark" asp-page="/SubscriberPage/Index">Manage Subscriber</a></p>
<p><a class="nav-link text-dark" asp-page="/WardrobePage/Index">Manage Wardrobe</a></p>


