@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="nav-link text-dark" asp-area="" asp-controller="Subscriber" asp-action="Activate" asp-route-idClient="1">Activate Subscription</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Subscriber" asp-action="Deactivate" asp-route-idClient="1">Deactivate Subscription</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Subscriber" asp-action="AddToSubscription" asp-route-idClient="1">Add me to Subscription Program</a>


