@page
@model Attempt3.Pages.ProductPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.idCategory" class="control-label"></label>
                <input asp-for="Product.idCategory" class="form-control" />
                <span asp-validation-for="Product.idCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.model" class="control-label"></label>
                <input asp-for="Product.model" class="form-control" />
                <span asp-validation-for="Product.model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.idSize" class="control-label"></label>
                <input asp-for="Product.idSize" class="form-control" />
                <span asp-validation-for="Product.idSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.sex" class="control-label"></label>
                <input asp-for="Product.sex" class="form-control" />
                <span asp-validation-for="Product.sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.image" class="control-label"></label>
                <input asp-for="Product.image" class="form-control" />
                <span asp-validation-for="Product.image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.price" class="control-label"></label>
                <input asp-for="Product.price" class="form-control" />
                <span asp-validation-for="Product.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.description" class="control-label"></label>
                <input asp-for="Product.description" class="form-control" />
                <span asp-validation-for="Product.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.specs" class="control-label"></label>
                <input asp-for="Product.specs" class="form-control" />
                <span asp-validation-for="Product.specs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.idBrand" class="control-label"></label>
                <input asp-for="Product.idBrand" class="form-control" />
                <span asp-validation-for="Product.idBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.idClient" class="control-label"></label>
                <input asp-for="Product.idClient" class="form-control" />
                <span asp-validation-for="Product.idClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.idDiscount" class="control-label"></label>
                <input asp-for="Product.idDiscount" class="form-control" />
                <span asp-validation-for="Product.idDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
