@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Hi, <span id="email_client"></span></p>
<hr />
<p><a class="nav-link text-dark" href="#" onclick="middle3()">Add Product</a></p>
<p><a class="nav-link text-dark" href="#" onclick="middle2()">Manage Products</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Selections" asp-action="Selection">My selections</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Subscribtion" asp-action="Subscribe">Subscription</a></p>
