@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Admin Page</p>
<hr />
<p><a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Manage Client</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Manage Customer</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Manage Product</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="ProductPurchase" asp-action="Index">Manage ProductPurchase</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Purchase" asp-action="Index">Manage Purchase</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Selection" asp-action="Index">Manage Selection</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Subscriber" asp-action="Index">Manage Subscriber</a></p>
